In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import nltk

In [2]:
# Read the csv file
df = pd.read_csv('data.csv')

In [3]:
df.head()

   class_index                                        review_text
0            4                                     well-done film
1            1                                  characters ramble
2            3  the intensity that made her an interesting cha...
3            1                                's not really funny
4            2                                             stuffs

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100693 entries, 0 to 100692
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   class_index  100693 non-null  int64
 1   review_text  100693 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.5+ MB

In [ ]:
# Function to perform feature mapping for class_index
# 1 and 2 will be mapped to negative, 3 to neutral, 4 and 5 to positive
def map_class_index(class_index):
    if class_index in [1, 2]:
        return 'negative'
    elif class_index == 3:
        return 'neutral'
    elif class_index in [4, 5]:
        return 'positive'
    else:
        return 'unknown'

In [7]:
# Map the class_index to sentiment
df['sentiment'] = df['class_index'].apply(map_class_index)

In [9]:
# Drop class_index column
df.drop(columns=['class_index'], inplace=True)

In [10]:
df.head()

                                         review_text sentiment
0                                     well-done film  positive
1                                  characters ramble  negative
2  the intensity that made her an interesting cha...   neutral
3                                's not really funny  negative
4                                             stuffs  negative

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100693 entries, 0 to 100692
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_text  100693 non-null  object
 1   sentiment    100693 non-null  object
dtypes: object(2)
memory usage: 1.5+ MB